HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
tree.txt

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*/target/
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
logs

### VS Code ###
.vscode/
.directory

### Cordova ###
app/node_modules/
app/platforms/